body {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body > *{
  display: inline-block;
}
h1{
  align-self: center;
}
hr{
  width:100%
}
