header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
body {
  font-size: 13px;
  font-family: arial,sans-serif;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
}
.flexed-item{
  display:inline-flex;
}
.apps-icon{
  width: 25px;
  height: 25px;
  margin: 5px;
}
.signin{
  background-color:#4985E7;
  color:white;
  text-decoration: none;
  text-align: center;
  padding: 0 12px;
  border-radius: 2px;
  line-height: 28px;
}
.signin:visited{
  background-color:#4985E7;
  color:white;
  text-decoration: none;
  text-align: center;
  padding: 0 12px;
  border-radius: 2px;
  line-height: 28px;
}
.sub-header{
  display: inline-flex;
  justify-content: space-around;
  min-width: 220px;
  text-align:center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}
section img{
  width: 384px;
  height: 216px;
}
footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F2F2F2;
  color: #6F6F6F;
  height: 40px;
  align-items:center;;
}
section{
  display: flex;
  flex-direction: column;
}
